html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 20px;

  background-color: rgb(48, 53, 61);
  color: rgb(146, 204, 206);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav h1 {
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  min-width: 600px;
  list-style-type: none;
  font-size: 30px;
  gap: 10px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

nav a {
  color: rgb(146, 204, 206);
  font-weight: lighter;
  font-size: 25px;
  text-decoration: none;
  padding-bottom: 1px;
}

nav ul li {
  list-style: none;
  justify-content: flex-end;
}

#nav-toggle {
  display: none;
}

.nav-link {
  color: var(--headerText) !important;
}

.nav-link:hover {
  text-decoration: underline;
}
.navbar-nav {
  margin: 0 auto;
}
.navbar-toggler {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* Mobile view */
@media (max-width: 767px) {
  #nav-toggle {
    display: block;
  }

  nav ul {
    display: none;
  }

  nav ul.active {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

#hero {
  width: 100%;
  height: 250px;
  background-image: url(../img/02-hero-bg.jpg);
  background-size: cover;
  position: relative;
}

#hero div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(71, 140, 243, 0.4);
}

#hero h2 {
  background-color: rgb(146, 204, 206);
  text-align: end;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 4px;
  border-radius: 7px;
}

a {
  text-decoration: none;
  color: var(--headerText);
}

.card {
  display: flex;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

..text-padding {
  padding: 0 20px; /* Adjust this value as needed */
}
p {
  word-wrap: break-word;
  /* word-break: break-all; */
}
h4 {
  font-family: Arial, sans-serif;
  font-size: x-large;
  color: rgba(6, 115, 240, 0.692);
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  background-color: #ffffff;
  font-size: large;
}

.jumbotron {
  position: relative;
}

.jumbotron img {
  width: 100%;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.content-section {
  padding: 40px 0;
  background-color: #fff;

  margin: 20px 0;
}
.btn-secondary {
  background-color: rgba(74, 158, 228, 0.925);
  border-color: rgba(74, 158, 228, 0.925);
}
h2 {
  font-size: large;
}
.modal-title {
  text-align: center;
  width: 100%;
}

#border {
  padding-right: 15px;
  border-left: 2px solid rgb(48, 53, 61);
}
.card-img-overlay {
  top: auto;
  bottom: 0;

}
.card-title {
  color: #141212;
 
}
.card-title-tone {
  color: #f0f0f0;
 
}

